<div class="demoVid" style="padding:7%">
    <img src="https://overflow.io/assets/public-site-v2/images/customers/amazon.svg?v=1690792460362">
    <img src="https://overflow.io/assets/public-site-v2/images/customers/netflix.svg?v=1690792460362">
    <img src="https://overflow.io/assets/public-site-v2/images/customers/spotify.svg?v=1690792460362">
    <img src="https://overflow.io/assets/public-site-v2/images/customers/microsoft.svg?v=1690792460362">
    <img src="https://overflow.io/assets/public-site-v2/images/customers/facebook.svg?v=1690792460362">
    <img src="https://overflow.io/assets/public-site-v2/images/customers/yahoo.svg?v=1690792460362">
  </div>
  <div style="text-align: center;color: gray;margin-bottom: 14%;">
    Trusted by more than 500,000 designers and product managers across the globe
  </div>