<div class="centertxt" >
    <h1 class="centertxtOne" style="color: black;margin-bottom: 5%;">One design story. <br>Three ways to tell it.</h1>
    <div class="view">
      <button (click)="CanvaView()"  class="button">Canva View</button>
      <button (click)="PrototypeView()" class="button">Prototype view</button>
      <button (click)="StoryView()" class="button">Story presentation</button>
    </div>
    <div class="gradient"> 
        <video class="video" autoplay style="padding: .5%;">
        <source id="multiVid" muted="" playsinline="" data-animation-type="video"  data-repeat="" data-duration="1000"  poster="/assets/public-site-v2/images/home-video-image.webp?v=1690792460362" src={{videoPath}} data-loaded="true">
    Your browser does not support the video tag.
      </video>
    </div>
    <h1 class="centertxtOne" style="color: black;">Canvas & User flows</h1>
    <div class="centertxtTwo" style="color: gray;">Bring in your designs from your favorite design tool, build user flow <br>diagrams to show the user journey and share your interactive birds-<br>eye-view presentation with your team or clients.</div>
  </div>