
<div class="virtual">

<div class="centertxtOne" style="color: black;">
    Sync from any design tool
</div>
<div class="centertxtTwo" style="color: black;">
    Bring your designs into Overflow from your favorite<br> design tool in seconds. Use them as a base to create<br> beautiful user flows and design presentations in<br> minutes. Simply re-sync after each design iteration<br> cycle to keep your presentation up to speed.
</div>


<div class="centertxtOne" style="color: black;">
    Visually enhance your story
</div>
<div class="centertxtTwo" style="color: black;">
    Add additional visual elements to enhance your<br> presentation without interfering with your design.<br> Customize everything, colors, styles, typography, or<br> add branding and other visual cues to make your<br> presentation shine.
</div>


<div class="centertxtOne" style="color: black;">
    Work together with your team
</div>
<div class="centertxtTwo" style="color: black;">
    Achieve a more collaborative result by inviting your<br> teammates to contribute as project editors. All<br> Overflow documents come with unlimited version<br> history, helping you meet your team’s documentation<br> needs with minimum effort.
</div>


</div>