<div class="navBar">
    <div class="navBarLeft" ></div>
    <img src="https://overflow.io/assets/public-site-v2/images/logo.svg?v=1690792460362" class="logo">
      <div class="navLC">Product</div>
      <a href="https://overflow.io/examples/" class="navLC">Examples</a>
      <a href="https://overflow.io/blog/" class="navLC">Blog</a>
      <a href="https://overflow.io/pricing/" class="navLC">Pricing</a>
    <div class="navBarRight" (onmouseover)="moveContentUp()" (onmouseout)="resetContent()">
      <a href="https://overflow.io/n/signin" class="navLC" >SignIn</a>
      <a href="https://overflow.io/download/" class="download">Donwload for free</a>
    </div>
  </div>
