<video class="video" autoplay >
    <source muted="" playsinline="" data-animation-type="video"  data-repeat="" data-duration="1000"  poster="/assets/public-site-v2/images/home-video-image.webp?v=1690792460362" src={{videoPath}} data-loaded="true">
    Your browser does not support the video tag.
  </video>
  <div class="demoVid">
    <a href="https://overflow.io/#" class="navLC">Watch prodeuct demo</a>
    <div class="demoVidSub">
      <span>Sync your work from design tools</span>
      <img src="https://overflow.io/assets/public-site-v2/images/figma.svg?v=1690792460362">
      <img src="https://overflow.io/assets/public-site-v2/images/sketch.svg?v=1690792460362">
      <img src="https://overflow.io/assets/public-site-v2/images/xd.svg?v=1690792460362" >
      <img src="https://overflow.io/assets/public-site-v2/images/photoshop.svg?v=1690792460362" >
    </div>
      
  </div>
  