/* You can add global styles to this file, and also import other style files */

    *{
        font-family: Inter,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    }
    .retinaBg{
        background-image: url(https://overflow.io/assets/public-site-v2/images/bg-home-desktop.svg?v=1690792460362);
        background-repeat: no-repeat;
    }
    .navBar{
        font-family: Inter,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
        display: flex;
        flex-wrap: wrap;
        padding-left: 9%;
        padding-right: 9%;
        padding-top: 1.5%;
        margin-bottom: 8%;
    }
    .navBarLeft{
        display: flex;
        justify-content: space-evenly!important;
        align-items: center;
        flex-wrap: wrap;
    }
    .navBarRight{
        margin-left:37%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden; /* Hide content overflow when it moves upwards */
        transition: transform 0.3s ease;
    }
    .centertxt{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 3%;
    }
    .centertxtOne{
        font-family: Inter,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
        color: rgb(251, 249, 249);
        font-size: 57px;
        font-weight:bolder;
    }
    .centertxtTwo{
        font-family: Inter,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
        color: rgb(252, 249, 249);
        font-size: 1.5rem;
        letter-spacing: -.4px;
        font-weight: bold;
        line-height: 32px;
    }
    .navLC{
        padding-top:4%;
        padding-left: 3%;
        color:black;
        text-decoration: none;
    }
    a:hover{
        color:blue
    }
    .demoVid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 4%;
    }
    .demoVidSub{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }
    .download{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-radius: 9px;
        color: white;
        width: 150px;
        font-size: 12px;
        height:44px;
        margin-left: 45%;
        text-decoration: none;
        padding-left:.5rem;
        padding-right:.5rem;
        padding-top:0.23rem;
        padding-bottom:0.23rem;
        margin-bottom: 15%;
    }
    .video{
        border-radius: 22px;
        padding-left: 9%;
        padding-right: 9%;
        width:86%;
        height:726px;
    }
    .view{
        display: flex;
        flex-wrap: wrap;
        color: gray;
        width:55%;
        justify-content: space-around;
        margin-left: 3%;
        
    }
    .button{
        border: none;
        font-size: 15px;
        color: rgb(62, 58, 58);
    }
    .gradient{
        background:linear-gradient(to bottom, #1900ff, #009dff);
        border-radius: 22px;margin: 6%;
    }
    

    @media screen and (max-width:600px){
        *{
            font-family: Inter,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
        }
        .navBar{
            display: flex;
        padding-left: 2%;
        padding-right: 2%;
        width:100%;
        }
        .logo{
            width:57px;
        }
        .navBarLeft{
            display: flex;
            justify-content: space-evenly!important;
            align-items: center;
        }
        .navBarRight{
            display: flex;
            padding-left:15%;
            align-items: center;
            overflow: hidden; /* Hide content overflow when it moves upwards */
            transition: transform 0.3s ease;
        }
        .centertxt{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            
        }
        .centertxtOne{
            font-family: Inter,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
            color: rgb(245, 53, 53);
            font-size: 27px;
            font-weight:bolder;
        }
        .centertxtTwo{
            font-family: Inter,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
            color: rgb(183, 28, 28);
            font-size: .7rem;
            letter-spacing: -.4px;
            font-weight: bold;
            line-height: 20px;
        }
        .navLC{
            padding-top: 1%;
            padding-left: 1%;
            font-size: 7px;
            color:black;
            text-decoration: none;
        }
        a:hover{
            color:blue
        }
        .demoVid{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .demoVidSub{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            
        }
        .download{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            border-radius: 9px;
            color: white;
            font-size: 6.5px;
            width: 100px;
            height:20px;
            text-decoration: none;
            padding-left:1rem;
            padding-right:1rem;
            padding-top:0.29rem;
            padding-bottom:0.29rem;
        }
        .video{
            border-radius: 23px;
            width:86%;
        }
        .view{
            display: flex;
            flex-wrap: wrap;
            color: gray;
            width:75%;
            justify-content: space-around;
            
        }
        .button{
            border: none;
            font-size: 8px;
            color: rgb(62, 58, 58);
        }
        .gradient{
            background: linear-gradient(to bottom, #1900ff, #009dff);border-radius: 22px;margin:6%;
        }

    }